<h1>Welcome to Rock-Paper-Scissors!</h1>

<p>From <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Wikipedia:</a></p>

<div>
Rock-paper-scissors (also known as paper, scissors, stone or other variants) is a hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.
</div>

<div>
These shapes are:
  <ul>
    <li>"rock" (a closed fist)</li>
    <li>"paper" (a flat hand)</li>
    <li>"scissors" (a fist with the index and middle fingers extended, forming a V)</li>
  </ul>
</div>

<p>
A player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors" or sometimes "blunts scissors"), but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cut[s] paper"). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
</p>

<table border="1">
  <tr>
   <td rowspan="2" colspan="2"></td>
   <td colspan="3">and they play...</td>
  </tr>

  <tr>
    <td>Rock</td>
    <td>Paper</td>
    <td>Scissors</td>
  </tr>

  <tr>
    <td rowspan="3">If we play...</td>
    <td>Rock</td>
    <td>We tie</td>
    <td>We lose</td>
    <td>We win</td>
  </tr>

  <tr>
    <td>Paper</td>
    <td>We win</td>
    <td>We tie</td>
    <td>We lose</td>
  </tr>

  <tr>
    <td>Scissors</td>
    <td>We lose</td>
    <td>We win</td>
    <td>we tie</td>
  </tr>

</table>
