<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <div>
      <div>Play Rock</div>
      <div>Play Paper</div>
      <div>Play Scissors</div>
    </div>

    <%= yield %>


  </body>
</html>
